
@use "src/styles/utils" as *;
.ZipSquare {
  animation: openZip 0.20s;
  > button {
    border: none;
    background-color: #fff;

    &:focus {
      outline: none;
      border: none;
    }
  }
  > form {
    width: 100%;
    height: 100%;
    padding: 15px;
    >.warning-zip {
      line-height: 14px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    > input {
      @include regular-input;
      width: 60%;
      margin-top: 15px;
    }
    > button {
      @include buttonAction;
    }
  }
  
}