@use "src/styles/utils" as *;

.CartButton {
  position: relative;
  border: none;
  background-color: $c-light;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    border: none;
    outline: none;
  }

}

.numOfItems {

  .circleCart {
    position: fixed;
    background-color: $c-orange;
    text-align: center;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    &:hover {
      cursor: pointer;
    }
  }

  .position-circle {
    top: 37px;
    right: 125px;
  }

  .xs-position-circle {
    top: 30px;
    right: 45px;
  }

  .numCart {
    position: fixed;
    color: $c-light;
    z-index: 9999;
    font-weight: 500;
    &:hover {
      cursor: pointer;
    }
  }

  .position-num {
    top: 36px;
    right: 131px;
  }

  .xs-position-num {
    top: 29px;
    right: 51px;
  }
}