@use "src/styles/utils" as *;

.Menu {
  background-color: $c-light;
  color: $c-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 30px;
    left: 50px; // aqui
    right: 120px; // aqui
    bottom: 30px;
  };
  margin: 0px;
  height: 35px;

  .Navlinks {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navlink {
    color: $c-dark;
    &:hover {
      color: $c-orange;
      text-decoration: none;
    }
  }

  .navselect {
    color: $c-orange;
    text-decoration: none;
  }

  .changeMe {


    .login-text {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &:hover {
        color: $c-orange;
      }

      .login-text-text {
        color: $c-dark;
        &:hover {
          color: $c-orange;
          text-decoration: none;
        }
      }
      border: none;
      color: $c-dark;
      background-color: $c-light;
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 17px;
      font-weight: 400;


    }
  }
}