@use "src/styles/utils" as *;

.Menu {
  background-color: $c-light;
  color: $c-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 30px;
    left: 15px;
    right: 40px;
    bottom: 30px;
  };
  margin: 0px;
  height: 35px;

  .Navlinks {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .changeMe > button {
    border: none;
    background-color: $c-light;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 17px;
    font-weight: 400;
  }
}