@use "src/styles/utils" as *;

.AuthSuppliers {
  margin: 80px;
  background-color: $c-light;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  > form {
    padding: 20px 40px 20px 40px;
      @include inputFile;
    

    .select-input {
      > select {
        @include regular-input;
      }
    }

    .text-area-input {
      > textarea {
        @include textarea-input;
      }
    }
    >.action-button {
      >button {
        font-size: 1.2rem;
        background-color: $c-dark;
        color: $c-light;
        padding: 5px 15px;
        border-radius: 3px;
        border: none;
  
        &:focus {
          outline: none;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
      }
    }
  }

  .partRegisterSupp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 25px;
    padding: 20px;
    padding: 20px 40px 20px 40px;
    border-bottom: {
      style: solid;
      width: 1px;
      color: rgba(0, 0, 0, 0.396);
    };

    > select {
      &:focus {
        outline: none;
      }
    }
  }

  .mapContainerRegister {
    width: 460px;
    height: 200px;

  }
}