@use "src/styles/utils" as *;

.products-butttons-suppliers {
  > button {
    @include buttonAction;
    &:hover {
      cursor: pointer;
    }
  }
  
}
.delete-supps {
  background-color: $c-grey-light;
}

.boosted-product {
  background-color: $c-light;
}
