@use "src/styles/utils" as *;

.address-sale-form {
  input {
    @include regular-input;
    width: 100%;
  }
  button {
    @include buttonAction;
    width: 100%;
    margin-top: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  small {
    margin-bottom: 30px;
  }

}