@use "src/styles/utils" as *;

.buttonShipping {
    font-size: 1.2rem;
    background-color: $c-dark;
    color: $c-light;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;

    &:focus {
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }

.buttonShipping-S {
  @include buttonAction;
  font-size: 0.8rem;
}

.exceptions {
  margin-bottom: 5px;
  padding-top: 10px;
  border-top: {
    style: solid;
    width: 1px;
    color: rgba(0, 0, 0, 0.396);
  }
}

.puttIn {
  @include regular-input
}