@use "src/styles/utils" as *;

.ZipBar {
  background-color: $c-primary;
  width: 100%;
  border: none;
  text-align: left;
  margin: 0px;
  height: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  
  &:focus {
    outline: none;
  }

  > p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 3px;
    margin: 0;
  }
}