@use "src/styles/utils" as *;

@keyframes openSearch {
  0%   {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text-search-result {
  animation: openSearch 0.15s;
  color: $c-dark;
  border-bottom: {
    style: solid;
    width: 1px;
    color: rgba(0, 0, 0, 0.135);
  } ;
  &:hover {
    background-color: $c-primary;
    border-radius: 3px;
    color: $c-dark;
    text-decoration: none;
  }
}