@use "src/styles/utils" as *;

/* MOBILE =========================== */
.ghostMenu-xs {
  height: 120px;
}

.Navbar-xs {
  background-color: $c-light;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  display: inline-block;

  .Navbar-top-xs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    
    .logo {
      width: 80px;
    }
  }
}


/* DESKTOP =========================== */
.ghostMenu {
  height: 78px;
}

.Navbar-moves {

  .fix {
    background-color: $c-light;
    position: fixed;
    top: 80px;
    z-index: 9999;
    width: 100%;
    padding-top: 10px;
  }
}

.Navbar-fixed {
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: $c-light;
  color: $c-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;

  .bar-fixed {
    width: 75%;
  }

  .cart-fixed {
    padding-right: 60px;
  } 

  .logo {
    width: 120px;
    padding-bottom: 10px;
    padding-left: 40px;
  }
}