@use "src/styles/utils" as *;

.Footer {
  background-color: $c-light;
  color: $c-dark;
  margin-top: 50px;
  height: 150px;
  border-top: {
    color: $c-primary;
    width: 1px;
    style: solid;
  };

  > p {
    margin: 0px;
  }
}