@use "src/styles/utils" as *;

.CartCart {
  width: 100%;
  border-radius: 3px;
  border: {
    style: solid;
    width: 1px;
    color: rgba(0, 0, 0, 0.183);
  }
  margin: 3px 10px;
  padding: 10px;

  
    .button-cart-mini {
      border: none;
      background-color: #fff;
      &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.115) 0px 1px 15px;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }

  .sendPrice {
    margin: 0;
    padding: 0;
  }
}