@use "src/styles/utils" as *;

@keyframes openCart {
  0%   {
    width: 0;
  }
  100% {
    width: 45%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: none;
  padding: 0px;
  background: rgba(0, 0, 0, 0.423);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: flex-end;
}

.popUp {
  width: 45%;
  position: relative;
  height: 100%;
  padding: 20px;
  margin: 0px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  animation: openCart 0.25s;

  .buttonContainerCart {
    display: flex;
    align-items: center;
    width: 100%;

    > p {
      margin-bottom: 0px;
      align-self: center;
      justify-self: center;
    }

    > button {
      border: none;
      background-color: #fff;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}