@use "src/styles/utils" as *;

.SuppNavbar {
  background-color: $c-dark;
  color: $c-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  .container-logo-together {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    > h6 {
      padding: 0;
      margin: 0;
      margin-top: 8px;
    }
  }

  .suppLinks {
    display: flex;
    justify-content: space-around;

    .navLinkSupp {
      text-decoration: none;
      color: $c-light;
      font-size: 1.1rem;
      padding: 2px 12px;
      border: {
        style: solid;
        width: 1px;
        color: $c-dark;
      }
    }
    .navLinkSuppSelected {
      border-radius: 3px;
      padding: 2px 12px;
      border-bottom: {
        style: solid;
        width: 1px;
        color: rgba(247, 219, 219, 0.149);
      }
    }
    .logoutSuppNavbar {
      background-color: $c-dark;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}